@model SpeakingClub.Entity.Blog
@inject LanguageService Localizer
@{
    var isGerman = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "de";
    var blogListPath = isGerman ? "/beitraege" : "/yazilar";
}
<div class="advanced-blog-card card shadow advanced-blog-card--container h-100">
    <!-- Media Swiper for Cover Image, YouTube, Google Maps -->
    <div class="advanced-blog-card__media swiper-container">
    <div class="swiper-wrapper">
        @* Cover Image Slide *@
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <div class="swiper-slide advanced-blog-card__slide">
                <img src="@Model.Image" class="advanced-blog-card__image" alt="@Model.Title" />
            </div>
        }

        @* YouTube Video Slide *@
        @if (!string.IsNullOrEmpty(Model.RawYT))
        {
            <div class="swiper-slide advanced-blog-card__slide">
                <iframe src="@Model.RawYT" class="advanced-blog-card__video" allowfullscreen></iframe>
            </div>
        }

        @* Google Maps Slide *@
        @if (!string.IsNullOrEmpty(Model.RawMaps))
        {
            <div class="swiper-slide advanced-blog-card__slide">
                <iframe src="@Model.RawMaps" class="advanced-blog-card__map" allowfullscreen></iframe>
            </div>
        }
    </div>
        <div class="swiper-button-prev advanced-blog-card__prev"></div>
        <div class="swiper-button-next advanced-blog-card__next"></div>
    </div>

    <!-- Card Body -->
    <div class="card-body advanced-blog-card__body">
        <h5 class="card-title advanced-blog-card__title" title="@Model.Title">
            <a href="@blogListPath/@Model.Url" class="advanced-blog-card__link">
                @Model.Title
            </a>
        </h5>
        @* If you wish to render rich HTML (from CKEditor) directly, use Html.Raw.
           Alternatively, create an excerpt by stripping HTML tags. Here we provide a plaintext excerpt. *@
        @{
            var plainText = System.Text.RegularExpressions.Regex.Replace(Model.Content ?? "", "<.*?>", "");
            var excerpt = plainText.Length > 150 ? plainText.Substring(0, 150) + "..." : plainText;
        }
        <p class="card-text advanced-blog-card__excerpt text-muted">
            @excerpt
        </p>
    </div>

    <!-- Card Footer -->
    <div class="card-footer advanced-blog-card__footer d-flex justify-content-between align-items-center bg-white">
        <small class="advanced-blog-card__meta text-muted">
            <i class="fa-solid fa-calendar advanced-blog-card__icon"></i>
            @Model.Date.ToString("MMM dd, yyyy")
            @if (!string.IsNullOrEmpty(Model.Author))
            {
                <span class="advanced-blog-card__separator">|</span>
                <i class="fa-solid fa-user advanced-blog-card__icon"></i> @Model.Author
            }
        </small>
        <a href="@blogListPath/@Model.Url" class="btn btn-sm btn-primary advanced-blog-card__readmore">
            @_localization.GetKey("ReadMore").Value <i class="fa-solid fa-arrow-right advanced-blog-card__icon"></i>
        </a>
    </div>
</div>
